/* Colors */
body,
button,
input,
select,
textarea,
span.likes {
	color: #666;
}
body {
	background:#f5f5f5;
}
a,
.lightbox-active {
	color: #00ABA2; 
}
a:hover,
a:focus,
a:active,
li.icon-twitter a:before,
li.icon-facebook a:before,
li.icon-feed a:before,
li.icon-vimeo a:before,
li.icon-youtube a:before,
li.icon-google-plus a:before,
li.icon-pinterest a:before,
.icon-menu:before,
li.icon-link a:before,
li.icon-earth a:before {
	color: #111;
}
h1,h2,h3,h4,h5,h6,
.entry-title a,
.exif-title {
	color: #3d3d3d;
}
#colophon a {
	color:#999;
}
.main-navigation ul ul a,
.main-navigation li.current_page_item ul a,
.main-navigation li.current-menu-item ul a,
.entry-meta,
.entry-meta a,
.main-small-navigation .menu li a,
ul.author-details li.author-info-position,
.site-content .nav-previous a,
.site-content .nav-next a,
#advanced-search-toggle {
	color: #888;
}

.main-navigation a:hover,
.main-navigation ul ul a:hover,
.main-navigation ul ul li.current_page_item a,
.main-navigation ul ul li.current-menu-item a,
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a,
.top-navigation li.current_page_item a,
.top-navigation li.current-menu-item a,
.main-navigation li.current_page_item ul a:hover,
.main-navigation li.current-menu-item ul a:hover,
.main-small-navigation .menu li a:hover,
.smas-sidebar-container,
.site-content .nav-previous a:hover,
.site-content .nav-next a:hover,
.collection-details,
a .sell-media-item-details,
#masthead .smas-container .smas-button-container input[type="submit"]:hover,
.remove-lightbox,
.remove-lightbox:hover,
.lightbox-counter,
.sell-media-grid .sell-media-buy-text {
	color: #fff;
}
.top-navigation li.current_page_item a, .top-navigation li.current-menu-item a {
	color:#00ABA2;
}
.menu-toggle:hover,
.menu-toggle.toggled-on,
.main-small-navigation li a:hover,
.top-navigation a:hover {
	color: #000;
}
.main-navigation li:hover > a {
background: #000;
}
.site-title a:hover {
	color:#000;
}
#masthead {
	background:#FFF;
	border-right:1px solid #DDD;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	color:#00ABA2;
	background:transparent;
}
.main-navigation li.current_page_item:hover > ul a,
.main-navigation li.current-menu-item:hover > ul a,
.top-navigation li.current_page_item:hover > ul a,
.top-navigation li.current-menu-item:hover > ul a,
.main-navigation li.current_page_item:hover > a,
.main-navigation li.current-menu-item:hover > a {
	background:#111;
}
.main-navigation li:hover > a {
	color:#fff;
}
#colophon a:hover,
#colophon a:focus,
#colophon a:active {
	color: #000;
}
h2.home-slide-title {
	color:#fff;
	font-weight:normal;
}
span.slide-caption {
	color:#ddd;
}
.site-title a,
h2.site-description,
.top-navigation li a,
.main-navigation li a,
#masthead .smas-container .smas-fieldset .smas-legend-title,
.menu-toggle,
.main-small-navigation li a {
	color: #444;
}
#masthead .smas-container .smas-button-container input[type="submit"] {
	color:#eee;
	background:#00ABA2;
}
a.like-count:hover {
	color: #FF0000;
}
.site-info, .site-info a {
	color:#999;
}
#masthead .smas-container .smas-fieldset .smas-legend-title {
	color:#fff;
}
.sell-media-pagination-container .page-numbers {
	background: #00ABA2;
	color: #fff;
}
.sell-media-pagination-container .page-numbers.current, .sell-media-pagination-container .page-numbers:hover {
	background:#111;
}
/* Backgrounds */
#masthead .smas-container .smas-button-container input[type="submit"]:hover {
	background:#367677;
}
.site-header,
#colophon {
}
.main-small-navigation .menu,
.main-navigation ul ul,
.top-navigation ul ul,
#featured-collection,
.author-image,
.archive-thumbnail,
.sell-media-widget-thumb-wrap,
.sell-media-grid,
.sell-media .sell-media-grid,
.site-content .nav-previous a:hover,
.site-content .nav-next a:hover {
	background: #111;
}
#masthead #smas-advanced {
	background:#00ABA2;
}
hr,
pre,
.account-template .ui-tabs .ui-tabs-nav li,
.site-content .nav-previous a,
.site-content .nav-next a {
	background: #eee;
}
.account-template .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: #fff;
}
mark,
ins {
	background: #fff9c0;
}
#sell-media-single .sell-media-buy-button-success,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #00ABA2;
	border-radius: 2px;
	border: 1px solid #00ABA2;
	color: rgba(255,255,255,.8);
}
#sell-media-single .sell-media-buy-button-success:hover,
.sell-media-grid .sell-media-buy-text:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #367677;
	color: #fff;
}
.remove-lightbox:hover {
	background:#FF1605;
}
.menu-cart-total-wrap, .lightbox-counter {
	background: #00ABA2;
	border-radius: 2px;
	border: 1px solid #00ABA2;
}
.menu-cart-total-wrap {
	color:#fff;
}
.sell-media-grid .sell-media-buy-text {
	background: #00ABA2;
}

/* Borders */
abbr,
acronym {
	border-bottom: 1px dotted #ccc;
}
.account-template .ui-tabs .ui-tabs-nav  {
	border-bottom: 1px solid #ccc;
}
.account-template .ui-tabs .ui-tabs-nav li a {
	border: 1px solid #ccc;
}
.account-template .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	border-bottom: 0;
	outline: none;
}
#advanced-search-toggle {
}
.home .widget-title {
	border-bottom: 1px solid #cfcfcf;
}
#footer-widgets {
	border-top: 1px solid #cfcfcf;
}
#site-info-wrap {
	border-top: 1px solid #cfcfcf;
}
/* Advanced Search */
#masthead .smas-container {
}
#masthead .smas-container #smas_keywords input[type="text"] {
	width: 97%;
}
#masthead .smas-container .smas-sidebar-container {
	margin: 0;
	padding: 0;
}


/* Inputs */
input[type=number],
input[type=text],
input[type=email],
input[type=password],
textarea {
	color: #666;
	border: 1px solid #ccc;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	color: #111;
}